<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>

		<link rel="manifest" href="manifest.json">

		<!-- un-comment this code to enable service worker
		<script>
			if ('serviceWorker' in navigator) {
				navigator.serviceWorker.register('service-worker.js')
					.then(() => console.log('service worker installed'))
					.catch(err => console.log('Error', err));
			}
		</script>-->

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
		<link href="css/ionic.app.css" rel="stylesheet">
		-->

		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!--!!!!TODO:UNCOMMENT cordova script (this will be a 404 during development) -->
		<!--<script src="cordova.js"></script>-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
		<!-- your app's js -->
		<script src="js/app.js"></script>
		
	</head>
	<body ng-app="app">

		<ion-pane>
			<ion-header-bar class="bar bar-header bar-calm">
				<!--<h1 class="title">Planning Dashboard</h1>-->
				<a ui-sref="login">Login</a>
				<a ui-sref="signup">SignUp</a>
			<!--	<ul class="nav navbar-nav navbar-right" ng-if="!isAuthorize">
				        <li><a ui-sref="login">Login</a></li>
				         <li><a ui-sref="signup">SignUp</a></li>
				      </ul>
				      <ul class="nav navbar-nav navbar-right" ng-if="isAuthorize">
				        <li><a class="pointer" ng-click="mainCtrl.logOut()">Logout</a></li>
				      </ul>-->
				<!-- <button class="button button-icon ion-plus"></button> -->
			</ion-header-bar>
			
			<ion-nav-view></ion-nav-view>

	
		</ion-pane>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
		<script src="/node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
		<script src="js/factories/listsFactory.js"></script>
		<script src="js/factories/cardFactory.js"></script>
		<script src="js/factories/authFactory.js"></script>
		<script src="js/controllers/listsCtrl.js"></script>
		<script src="js/controllers/listCtrl.js"></script>
		<script src="js/controllers/cardCtrl.js"></script>
		<script src="js/controllers/loginCtrl.js"></script>
		<script src="js/controllers/signupCtrl.js"></script>
	</body>
</html>
