<ion-view view-title="Second page" ng-controller="listCtrl as listCtrl">
	<ion-content class="padding">
		<!-- <button class="button icon ion-ios-arrow-back" ng-click="goBack()" nav-direction="back">Go Back</button> -->
	
	id: {{listCtrl.id}}
	cards: {{listCtrl.getCards(listCtrl.id)}}

	<div class="card" ng-repeat="card in listCtrl.getCards(listCtrl.id)">
	  <div class="item item-text-wrap">
	    {{card.description}}
	  </div>
	</div>


	</ion-content>
</ion-view>