	<ion-view>
			<ion-content>
				<ul ng-controller="listsCtrl as listsCtrl" class="list">
					<li ion-item ng-repeat="list in listsCtrl.getLists()" class="item item-checkbox item-ion-right"
						ng-click="listsCtrl.changePage(list.id)">
					<!-- <label class="checkbox">
						<input type="checkbox">
					</label> -->
					<!-- <a ui-sref="toList.id({id : list.id})" href=""> -->
						{{list.title}}
					<!-- </a> -->						
					</li>  
				</ul>
				
				<!-- <ion-nav-view name=""></ion-nav-view> -->
			</ion-content>
</ion-view>