<ion-view>
  <ion-content>
    <form class="form-horizontal" ng-controller="loginCtrl" ng-submit="login()">
    <div class="list">
      <label class="item item-input">
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
    </div>
    <button class="button button-calm" type=submit>
        Login
    </button>
    </form>
<!--<div class="well bs-component center-block auth-form">
  <form class="form-horizontal" ng-controller="loginCtrl" ng-submit="login()">
    <fieldset>
      <legend>Login</legend>
      <div class="form-group">
        <label for="inputEmail" class="col-md-2 control-label">Email</label>
  
        <div class="col-md-10">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="loginData.email" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-md-2 control-label">Password</label>
  
        <div class="col-md-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="loginData.password" required>
        </div>
      </div>
     
      <div class="form-group">
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-raised">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>-->
  </ion-content>
</ion-view>