<ion-view>
  <ion-content>
     <div class="list">
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="registration.email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="registration.firstName">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model="registration.lastName">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="registration.password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password" ng-model="registration.confirmPassword">
      </label>
      <button class="button button-calm" type=submit>
        Register
      </button>
    </div>
  <!--<div class="well bs-component center-block auth-form">
    <form class="form-horizontal" ng-controller="signupCtrl" ng-submit="signUp()">
      <fieldset>
        <legend>Register</legend>
        <div class="form-group">
          <label for="inputEmail" class="col-md-2 control-label">Email</label>
          <div class="col-md-10">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="registration.email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-md-2 control-label">First Name</label>
          <div class="col-md-10">
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" ng-model="registration.firstName">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-md-2 control-label">Last Name</label>
          <div class="col-md-10">
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" ng-model="registration.lastName">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-md-2 control-label">Password</label>
          <div class="col-md-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="registration.password">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-md-2 control-label">Confirm Password</label>
          <div class="col-md-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="registration.confirmPassword">
          </div>
        </div>
       
        <div class="form-group">
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-raised">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>-->
  </ion-content>
</ion-view>